<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body style="font-family: sans-serif; background-color: #E53935; color: white;">
    <div style="text-align: center; padding: 10px;">
        <h1>Employee Details</h1>
        <p>An Employee Manager App Made Using Python</p>
        <br>
        <hr>
    </div>
    <center>
    <h2>Employees In Database</h2>
    <table>
        <tr>
            <th style="padding: 5px; border: 1px solid white;">Sr No.</th>
            <th style="padding: 5px; border: 1px solid white;">Employee ID</th>
            <th style="padding: 5px; border: 1px solid white;">Employee Name</th>
            <th style="padding: 5px; border: 1px solid white;">Employee Age</th>
        </tr>
        {}
    </table>
        <br><br>
        <a href="/new" style="margin: 5px; padding: 12px 14px; background-color: #FFFFFF; color: #E53935; border: 1px solid #FFFFFF; text-decoration: none;">Register</a>
    </center>
</body>
</html>